<html>
  <form action="pre_links" method="post">
    <label>
      Title
      <input type="text" name="title">
    </label>
    <label>
      url
      <input type="text" name="url">
    </label>
    <input type="submit" value="Create link">
  </form>

</html>
